<html>
    <head>
        <title>Scrabble Calculator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Here is your word score</h1>
            <h3>{{ value[0] }} for the word {{ value[1] }}</h3>
        </div>

    </body>
</html>
