<html>
    <head>
        <title>Scrabble Calculator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1>Welcome to the Scrabble Calculator</h1>
            <p>This calculator will give you the word score for the word you played in Scrabble.</p>
            <form  action="/results">
                <div class="form-group">
                    <label for="word">Input your word:</label>
                    <input type="text" name="word" id="word" class="form-control" placeholder="SCRABBLE">
                </div>
                <button name="submit" class= "btn btn-success">Submit</button>
            </form>
        </div>
    </body>
</html>
